*{
    margin:0;
    padding:0;
}
body{
    background:#F6F7F9;
}
header{
    background:#F3F3F3;
    width:100%;
    height:50px;
    display:flex;
    justify-content:space-between ;
    align-items:center;
    border-bottom:2px solid #E4E4E4;
}
.header-title{
    position:relative;
    margin-left:30px;
}
.header-title:before{
    position:absolute;
    content:'';
    width:5px;
    height:25px;
    background:#1ABC9C;
    left:-10px;
}
.refresh{
    width:90px;
    height:30px;
    background:#FFF;
    cursor:pointer;
    border:1px solid #ddd;
    margin-right:30px;
    position:relative;
}
.refresh-image{
    position:absolute;
    width:20px;
    height:20px;
    left:10px;
    top:5px;
}
.refresh-text{
    position:absolute;
    display:inline-block;
    text-align:center;
    line-height:30px;
    right:10px;
}
.refresh:hover{
    background:#F3F3F3;
}
.wrapper,.list-wrapper,.pagination-wrapper{
    width:95%;
    margin:20px auto;
    border:1px solid #ddd;
}
.search-parent,.list-parent{
    width:100%;
    height:50px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    background:#F3F3F3;
    border-bottom:1px solid #ddd;
}
.filter-search{
    flex:1;
    height:100%;
    position:relative;
}
.filter-image,.pick-image,.list-image{
    position:absolute;
    width:20px;
    height:20px;
    left:20px;
    top:15px;
}
.filter-text,.pick-text,.list-text{
    position:absolute;
    display:inline-block;
    text-align:center;
    line-height:50px;
    left:45px;
}
.pick-filter,.data-list{
    width:120px;
    height:100%;
    position:relative;
}
.search-result,.add-button{
    width:90px;
    background:#fff;
    margin-right:20px;
    text-align:center;
    line-height:30px;
    border:1px solid #ddd;
}
.filter-conditions{
    background:#fff;
    padding-left:43px;
    padding-top:13px;
    padding-bottom:13px;
}
.platformname,.description{
    width:220px;
    height:60px;
    display:inline;
}
.description{
    margin-left:50px;
}
input[type="text"]{
    box-sizing: border-box;
    text-align:center;
    height:37px;
    border-radius:4px;
    border:1px solid #c8cccf;
    color:#6a6f77;
    -webkit-appearance:none;
    -moz-appearance: none;
    outline:0;
    padding:0 1em;
    text-decoration:none;
}
.data-table{
    width:100%;
    border:0px solid #ddd;
    border-collapse: collapse;
    text-align:center;
    background:#fff;
}
.data-table tr{
    height:50px;
}
.data-table th{
    background:#F9FAFC;
}
.edit,.detail,.delete{
    display:inline;
}
.edit{
    color:#1ABC9C;
    margin-right:30px;
}
.detail{
    color:#13C2C2;
    margin-right:10px;
}
.delete{
    color:red;
}
td:first-child{
    width:12.4%;
}
td:nth-child(2){
    width:17.5%;
}
td:nth-child(3){
    width:47.5%;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.data-table td,.data-table th{
    border-top: 0;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 0;
}
tr:last-child td{
    border-bottom:0;
}
td:last-child,th:last-child{
    border-right:0;
}
.pagination-wrapper{
    position:fixed;
    bottom:20px;
    left:2.5%;
    background:#fff;
    height:50px;
    display:flex;
    align-items:center;
    /*justify-content:space-between;*/
}
.branches{
    width:120px;
    height:38px;
    position:relative;
    border:1px solid #ddd;
    margin-left:10px;
}
.branches-image{
    position:absolute;
    width:20px;
    height:20px;
    right:10px;
    top:9px;
}
.branches-text{
    position:absolute;
    display:inline-block;
    text-align:center;
    line-height:38px;
    left:15px;
}
.total{
    flex:1;
    text-align:right;
    margin-right:20px;
}
.numbers{
    position:relative;
    text-align:center;
    width:36px;
    height:28px;
    line-height:28px;
    border-radius:4px;
    border:1px solid #c8cccf;
    color:#6a6f77;
    outline:0;
    margin-right:3px;
    cursor:default;
}
.numbers:hover{
    border-color:#13C2C2;
}
.numbers.first{
    background:#13C2C2;
    color:#fff;
}
.numbers.last{
    margin-right:30px;
}
.left-arrow,.right-arrow{
    position:absolute;
    width:10px;
    height:10px;
    top:9px;
    left:13px;
}
#pages{
    width:36px;
    height:28px;
    margin-left:10px;
    margin-right:10px;
}
.last-page{
    margin-right:20px;
}