*{
    margin:0;
    padding:0;
}
body{
    background:#F6F7F9;
}
header{
    background:#F3F3F3;
    width:100%;
    height:50px;
    display:flex;
    justify-content:space-between ;
    align-items:center;
    border-bottom:2px solid #E4E4E4;
}
.header-title{
    position:relative;
    margin-left:30px;
}
.header-title:before{
    position:absolute;
    content:'';
    width:5px;
    height:25px;
    background:#1ABC9C;
    left:-10px;
}
.refresh{
    width:90px;
    height:30px;
    background:#FFF;
    cursor:pointer;
    border:1px solid #ddd;
    margin-right:30px;
    position:relative;
}
.refresh-image{
    position:absolute;
    width:20px;
    height:20px;
    left:10px;
    top:5px;
}
.refresh-text{
    position:absolute;
    display:inline-block;
    text-align:center;
    line-height:30px;
    right:10px;
}
.refresh:hover{
    background:#F3F3F3;
}
.wrapper,.list-wrapper,.pagination-wrapper{
    width:95%;
    margin:20px auto;
    border:1px solid #ddd;
}
.list-wrapper{
    margin-bottom:500px;
}
.search-parent,.list-parent{
    width:100%;
    height:50px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    background:#F3F3F3;
    border-bottom:1px solid #ddd;
}
.filter-search{
    flex:1;
    height:100%;
    position:relative;
}
.filter-image,.pick-image,.list-image{
    position:absolute;
    width:20px;
    height:20px;
    left:20px;
    top:15px;
}
.filter-text,.pick-text,.list-text{
    position:absolute;
    display:inline-block;
    text-align:center;
    line-height:50px;
    left:45px;
}
.pick-filter,.data-list{
    width:120px;
    height:100%;
    position:relative;
}
.search-result,.add-button{
    width:90px;
    background:#fff;
    margin-right:20px;
    text-align:center;
    line-height:30px;
    border:1px solid #ddd;
    cursor:pointer;
}
.filter-conditions{
    background:#fff;
    padding-left:43px;
    padding-top:13px;
    padding-bottom:13px;
}
.platformname,.description{
    width:220px;
    height:60px;
    display:inline;
}
.description{
    margin-left:50px;
}
input[type="text"]{
    height:37px;
}
input[type="checkbox"]{
    width:20px;
    height:20px;
    background-color:#fff;
}
input[type="checkbox"]:checked{
    background: url("checked.png")no-repeat center;
    background-size:20px 20px;
}
input[type="text"],input[type="checkbox"]{
    box-sizing: border-box;
    text-align:left;
    border-radius:4px;
    border:1px solid #c8cccf;
    /*color:#6a6f77;*/
    color:#999;
    -webkit-appearance:none;
    -moz-appearance: none;
    outline:none;
    /*padding:0 1em;*/
    text-decoration:none;
}
.data-table{
    width:100%;
    border:0px solid #ddd;
    border-collapse: collapse;
    text-align:center;
    background:#fff;
}
.data-table tr{
    height:50px;
}
.data-table th{
    background:#F9FAFC;
    text-align:center;
}
.edit,.detail,.delete{
    display:inline;
    cursor:pointer;
}
.edit{
    color:#1ABC9C;
    margin-right:30px;
}
.detail{
    color:#13C2C2;
    margin-right:10px;
}
.delete{
    color:red;
}
td:first-child{
    width:12.4%;
}
td:nth-child(2){
    width:17.5%;
}
td:nth-child(3){
    width:47.5%;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.data-table td,.data-table th{
    border-top: 0;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 0;
}
tr:last-child td{
    border-bottom:0;
}
td:last-child,th:last-child{
    border-right:0;
}
.pagination-wrapper{
    position:relative;
    background:#fff;
    height:50px;
    display:flex;
    align-items:center;
    /*justify-content:space-between;*/
}
.branches{
    width:120px;
    height:38px;
    position:relative;
    border:1px solid #ddd;
    margin-left:10px;
}
.branches-image{
    position:absolute;
    width:20px;
    height:20px;
    right:10px;
    top:9px;
}
.branches-text{
    position:absolute;
    display:inline-block;
    text-align:center;
    line-height:38px;
    left:15px;
}
.total{
    flex:1;
    text-align:right;
    margin-right:20px;
}
.numbers{
    position:relative;
    text-align:center;
    width:36px;
    height:28px;
    line-height:28px;
    border-radius:4px;
    border:1px solid #c8cccf;
    color:#6a6f77;
    outline:0;
    margin-right:3px;
    cursor:default;
}
.numbers:hover{
    border-color:#13C2C2;
}
.numbers.first{
    background:#13C2C2;
    color:#fff;
}
.numbers.last{
    margin-right:30px;
}
.left-arrow,.right-arrow{
    position:absolute;
    width:10px;
    height:10px;
    top:9px;
    left:13px;
}
#pages{
    width:36px;
    height:28px;
    margin-left:10px;
    margin-right:10px;
}
.last-page{
    margin-right:20px;
}
.copyright{
    width:100%;
    margin:50px auto;
    text-align:center;
    color:#ddd;
}
#pop-up{
    display:none;
    position:fixed;
    width:600px;
    background:#ffffff;
    z-index:1000;
    border-radius:0.26rem;
    left:50%;
    top:50%;
    transform: translateY(-50%) translateX(-50%);
}
#title{
    text-align:left;
    color:#333333;
    background:#F2F2F2;
    line-height:50px;
    padding-left:10px;
    position:relative;
}
.close-image{
    position:absolute;
    width:20px;
    height:20px;
    top:15px;
    right:10px;
    cursor:pointer;
}
.content-wrapper{
    width:80%;
    /*height:350px;*/
    margin:20px auto;
    font-size:0.28rem;
    color:#333333;
    text-align:left;
}
#platform{
    width:360px;
}
.address,.port{
    display:inline-block;
    margin-top:10px;
}
.address label,.port label,.platform-wrapper label{
    font-weight:normal;
}
.port{
    margin-left:27px;
}
#communicate-address,#port{
    width:140px;
}
.park-push{
    margin-top:20px;
    display:inline-block;
}
#tree{
    margin-left:80px;
}
#known{
    position:relative;
    height:70px;
    font-size:0.28rem;
    color:#4a90e2;
}
#known:before{
    content:'';
    position:absolute;
    top:0;
    background:#c8cccf;
    width:200%;
    height:1px;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.yes,.no{
    position:absolute;
    text-align:center;
    width:80px;
    line-height:36px;
    border-radius:4px;
    border:1px solid #c8cccf;
    color:#999;
    top:17px;
    cursor:pointer;
}
.yes{
    right:20px;
    color:#fff;
    background:#13C2C2;
}
.yes:hover{
    background:#42CECE;
}
.no{
    right:120px;
}
#shade{
    display:none;
    opacity:0.7;
    background:#000000;
    width:100%;
    height:100%;
    position:fixed;
    z-index:200;
    /*overscroll-behavior:none;*/
}
.textarea-content{
    width:350px;
    height:170px;
    margin-left:80px;
}
.select-input{
    width:360px;
}
ul{
    list-style:none;
}
.unchecked-list{
    display:inline-block;
    width:150px;
    border:1px solid #ddd;
    border-radius:4px;
    margin-top:20px;
    margin-left:50px;
}
.checked-all,.unchecked-child{
    width:100%;
    background:#F9FBFD;
    position:relative;
    padding-left:10px;
    text-align:center;
    line-height:30px;
    height:30px;
}
.unchecked-child{
    background:#fff;
}
.unchecked-title,.unchecked-number,.device-id,.unchecked-text{
    position:absolute;
}
.device-id{
    left:10px;
}
.unchecked-title,.unchecked-text{
    left:40px;
}
.unchecked-number{
    right:20px;
}
.direction{
    position:absolute;
    left:275px;
}
.to-left-wrapper,.to-right-wrapper{
    position:relative;
    display:inline-block;
    width:20px;
    height:20px;
    border:1px solid #ddd;
    border-radius:4px;
    background:#F9FBFD;
    /*margin-top:-150px;*/
    top:-100px;
}
.to-right,.to-left{
    position:absolute;
    width:10px;
    height:10px;
    top:4px;
    left:2px;
}
.to-left{
    left:5px;
}